<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © korextech.com 
        <script>
          document.write(new Date().getFullYear())
         </script>
      </span>
    </div>
  </footer>

  <script src="../../js/vendor.bundle.base.js"></script>
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/userSocketScript.js"></script>
  <script src="../../js/labelFunction.js"></script>
  <script src="../../js/shippingCalculator.js"></script>