<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Korex Logistics Company</title>
    <meta charset="UTF-8">
    <meta name="description" content="Korex logistic ">
    <meta name="keywords" content="logistic,Korex,korexlogistic,korex,shippingcompany,shipping">
    <meta name="author" content="Agboola Akorede Ibrahim">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="img/favi.jpg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Customized css Stylesheet -->
        <link href="/css/login.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
</head>

<body>
     <!-- Topbar Start -->
  
     <%- include (`partials/header`); -%>
     <!-- Topbar End -->
 


    <!-- Header Start -->
    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h1 class="text-white display-3">Service</h1>
            <div class="d-inline-flex align-items-center text-white">
                <p class="m-0"><a class="text-white" href="/">Home</a></p>
                <i class="fa fa-circle px-3"></i>
                <p class="m-0">Service</p>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Services Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <h6 class="text-primary text-uppercase font-weight-bold">Our Services</h6>
                <h1 class="mb-4">Korex Logistic Services</h1>
            </div>
            <div class="row pb-3">
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <i class="fa fa-2x fa-plane text-dark pr-3"></i>
                        <h6 class="text-white font-weight-medium m-0">Air Freight</h6>
                    </div>
                    <p>Our air freight solutions are perfect for sensitive shipments, ensuring your goods reach their destination promptly.</p>
                    <a class="border-bottom text-decoration-none" href="/service">Read More</a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <i class="fa fa-2x fa-ship text-dark pr-3"></i>
                        <h6 class="text-white font-weight-medium m-0">Ocean Freight</h6>
                    </div>
                    <p>Explore economical shipping solutions with our ocean freight services for large or heavy cargo.</p>
                    <a class="border-bottom text-decoration-none" href="/service">Read More</a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <i class="fa fa-2x fa-truck text-dark pr-3"></i>
                        <h6 class="text-white font-weight-medium m-0">Land Transport</h6>
                    </div>
                    <p>Benefit from our extensive network for reliable and efficient land transport services across the country.</p>
                    <a class="border-bottom text-decoration-none" href="/service">Read More</a>
                </div>
                <div class="col-lg-3 col-md-6 text-center mb-5">
                    <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                        <i class="fa fa-2x fa-store text-dark pr-3"></i>
                        <h6 class="text-white font-weight-medium m-0">Cargo Storage</h6>
                    </div>
                    <p>Store your goods in our state-of-the-art, secure warehouses equipped with the latest technology.</p>
                    <a class="border-bottom text-decoration-none" href="/service">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->

    <!--  Quote Request Start -->

    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <h6 class="text-primary text-uppercase font-weight-bold">Our Priority Is You</h6>
                <h6 class="text-primary text-uppercase font-weight-bold">
                    Korex remains committed to providing all customers with essential mailing and shipping services.
                </h6>
               
            </div>
            <div class="row pb-3">
                <div class="lastcontone">
                    <div class="pricingdiv">
                        <ul class="theplan">
                            <li class="title"><b style="color:#FF4800;">Need us to hold your delivery?</b></li>
                            <li class="ethighlight" 
                                style="color:#FF4800;">Whether you're away or want added security, request to redirect your
                                package to a retail location. We can hold it at one of our stores,
                                including Korex Office, Shoprite, and Maryland Mall.
                            </li>
                        </ul>	
                    </div>
                </div>
                    <div class="lastconttwo">
                        <div class="pricingdiv">
                            <ul class="theplan">
                                <li class="title"><b style="color:#FF4800;">Our Divisions</b></li>
                                <li class="ethighlight"
                                    style="color:#FF4800;">
                                    connects people in over 50 countries and territories worldwide. Driven by the power of more than 80,000 employees, we deliver integrated services and tailored solutions for managing and transporting letters, goods and information.
                                </li>
                            </ul>
                        </div>
                    </div>
                        <div class="lastcontthree">
                            <div class="pricingdiv">
                                <ul class="theplan">
                                    <li class="title"><b style="color:#FF4800;">Korex Logistics</b></li>
                                    <li class="ethighlight" 
                                        style="color:#FF4800;">Sustainable business begins with sustainable supply chains. As the pioneer of korex logistics, we have an unmatched portfolio of korex logistics solutions. Together with our customers worldwide, we're minimizing emissions without compromising operations.
                                    </li>
                                </ul>
                            </div>
                        </div>
            </div>
        </div>
    </div>
      <!--  Quote Request End -->



        <!-- Footer Start -->
        <%- include (`partials/footer`); -%>
        <!-- Footer End -->

</body>

</html>