<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Korex Logistics Company</title>
  <link href="/css/spin.css" rel="stylesheet">
  <link href="img/favi.jpg" rel="icon">  
</head>
<body>
<div class="ring">KLS
  <span></span>
  <script type="text/javascript">
    setTimeout(function() {
      window.location.href = "<%= label ? '/trackingStatus' : '/trackingNotFound' %>";
    }, 5000); // Spin for 5 seconds before redirecting
  </script>
</div>
</body>
</html>


