<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Korex Logistics Company</title>
    <meta charset="UTF-8">
    <meta name="description" content="Korex logistic ">
    <meta name="keywords" content="logistic,Korex,korexlogistic,korex,shippingcompany,shipping">
    <meta name="author" content="Agboola Akorede Ibrahim">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="img/favi.jpg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

      <!-- Customized css Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/transit.css" rel="stylesheet">
</head>

<body>
     <!-- Topbar Start -->
  
     <%- include (`partials/header`); -%>
     <!-- Topbar End -->
 

                                           <!-- Services Start -->
    
                                           <div class="transitContainer">
                                            <div class="contentPage">
                                              <h2 class="notFound">Tracking Not Found</h2>
                                              <!-- <p class="notFoundWord">The tracking ID could not be found in our system.</p> -->
                                            </div>
                                          </div>
                                         

                                            <!-- Services End -->

    




        <!-- Footer Start -->
        <%- include (`partials/footer`); -%>
        <!-- Footer End -->

</body>

</html>