
.close {
  color: #fff;
  transform: scale(1.2)
}
.modal-content {

  background: linear-gradient(to bottom right,#F87E7B,#B05574);
}

.form-control:hover, .form-control:focus {
  box-shadow: none;  
  border-color: #fff;
}
.username, .password {
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 2px solid #eee;
  padding-left: 0;
  font-weight: normal;
  background: transparent;  
}
.form-control::-webkit-input-placeholder {
  color: #eee;  
}
.form-control::placeholder {
  color: #eee;  
}

.form-control:focus::-webkit-input-placeholder {
  font-weight: bold;
  color: #fff;
}
.login {
  padding: 6px 20px;
  border-radius: 20px;
  background: none;
  border: 2px solid #FAB87F;
  color: #FAB87F;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}
.login:hover {
  background: #FAB87F;
  color: #fff;
}
.register{
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 15px 0 10px;
}
.register p a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.register p a:hover{
  text-decoration: underline;
}

.forget{

  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: center;
}
.forget label input{
  margin-right: 3px;
}
.forget label a{
color: #fff;
text-decoration: none;
}
.forget label a:hover{
 text-decoration: underline;
}
.username.form-control::placeholder {
  color: #fff !important;
}
.password.form-control::placeholder {
  color: #fff !important;
} 

.username.form-control {
  background-color: transparent; 
  color: #fff; 
}
.password.form-control {
  background-color: transparent; 
  color: #fff; 
}

.username.form-control:focus {
  outline: none; 
  border-color: #fff; 
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}
.password.form-control:focus {
  outline: none; 
  border-color: #fff; 
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.water-effect {
  position: relative;
}

.water-effect::before {
  content: "KOREX";
  position: absolute;
  top: 0;
  left: 58px;
  color: #c6f0ff;
  animation: wave 3s ease-in-out infinite;
}

@media (min-width: 320px) and (max-width: 480px) {
  .water-effect::before {
    left: 41px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .water-effect::before {
    left: 44px;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .water-effect::before {
    left: 50px;
  }
}

@keyframes wave {
  0%, 100% {
      clip-path: polygon(0 42%, 13% 48%, 26% 55%, 41% 64%, 56% 65%, 69% 58%, 84% 45%, 100% 38%, 100% 100%, 0% 100%);
  }
  50% {
      clip-path: polygon(0 63%, 14% 57%, 25% 50%, 40% 42%, 56% 40%, 71% 44%, 84% 50%, 100% 60%, 100% 100%, 0% 100%);
  }
}
