<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Forget Password Page</title>

  <link rel="stylesheet" href="../vertical-layout-light/style.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="icon" href="../img/favi.jpg">
  
</head>

<body>
  <%- include('../partials/header'); -%>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
      
            <div class="col-lg-4 mx-auto">
                <div class="auth-form-light text-left py-5 px-4 px-sm-5">
               
                    <div class="brand-logo">
                        <img src="../img/companyLogo.jpg" alt="logo">
                    </div>
                    <%- include ('../partials/messages'); -%>
                    <div id="greeting"></div>
                    <script src="../js/greeting.js"></script>
             
                    <h6 class="font-weight-light">Enter your email to reset your password.</h6>
                    <form class="pt-3"  action="/registration/forgetPasswordPost" method="post">
                
                
                        <div class="form-group">
                            <input type="email" class="form-control form-control-lg"  name="senderEmail" placeholder="Your Email"
                            value="<%= typeof senderEmail != 'undefined' ? senderEmail : '' %>">
                        </div>

                
                        <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                            RESET PASSWORD
                        </button>
                        <div class="text-center mt-4 font-weight-light">
                            Already have an account? <a href="/registration/login" class="text-primary">Login</a>
                        </div>
                        <div class="text-center mt-4 font-weight-light">
                            Don't have an account? <a href="/registration/register" class="text-primary">Create</a>
                        </div>
                    </form>
                </div>
            </div>
      
        </div>

    </div>

</div>



  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  
  <!-- endinject -->
</body>

</html>
